n8n-uazapi-workflow.json
{
  "name": "UAZapi - Envio Manual de Mensagens",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-manual-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "send-manual-message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "url_instancia",
              "name": "url_instancia",
              "value": "={{ $json.body.url_instancia || $json.url_instancia }}",
              "type": "string"
            },
            {
              "id": "token",
              "name": "token",
              "value": "={{ $json.body.token || $json.token }}",
              "type": "string"
            },
            {
              "id": "number",
              "name": "number",
              "value": "={{ $json.body.number || $json.number }}",
              "type": "string"
            },
            {
              "id": "messageType",
              "name": "messageType",
              "value": "={{ $json.body.messageType || $json.messageType }}",
              "type": "string"
            },
            {
              "id": "text",
              "name": "text",
              "value": "={{ $json.body.text || $json.text || '' }}",
              "type": "string"
            },
            {
              "id": "mediaUrl",
              "name": "mediaUrl",
              "value": "={{ $json.body.mediaUrl || $json.mediaUrl || '' }}",
              "type": "string"
            },
            {
              "id": "caption",
              "name": "caption",
              "value": "={{ $json.body.caption || $json.caption || '' }}",
              "type": "string"
            },
            {
              "id": "filename",
              "name": "filename",
              "value": "={{ $json.body.filename || $json.filename || 'documento.pdf' }}",
              "type": "string"
            },
            {
              "id": "emoji",
              "name": "emoji",
              "value": "={{ $json.body.emoji || $json.emoji || '' }}",
              "type": "string"
            },
            {
              "id": "messageId",
              "name": "messageId",
              "value": "={{ $json.body.messageId || $json.messageId || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields",
      "name": "Organizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "text"
            }
          ]
        }
      },
      "id": "if-text",
      "name": "É Texto?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "image"
            }
          ]
        }
      },
      "id": "if-image",
      "name": "É Imagem?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "document"
            }
          ]
        }
      },
      "id": "if-document",
      "name": "É Documento?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "if-audio",
      "name": "É Áudio?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 600]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "sticker"
            }
          ]
        }
      },
      "id": "if-sticker",
      "name": "É Figurinha?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 700]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "reaction"
            }
          ]
        }
      },
      "id": "if-reaction",
      "name": "É Reação?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 800]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/text",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "send-text",
      "name": "Enviar Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/image",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"url\": \"{{ $json.mediaUrl }}\",\n  \"caption\": \"{{ $json.caption }}\"\n}",
        "options": {}
      },
      "id": "send-image",
      "name": "Enviar Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/document",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"url\": \"{{ $json.mediaUrl }}\",\n  \"filename\": \"{{ $json.filename }}\"\n}",
        "options": {}
      },
      "id": "send-document",
      "name": "Enviar Documento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/audio",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"url\": \"{{ $json.mediaUrl }}\"\n}",
        "options": {}
      },
      "id": "send-audio",
      "name": "Enviar Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/sticker",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"url\": \"{{ $json.mediaUrl }}\"\n}",
        "options": {}
      },
      "id": "send-sticker",
      "name": "Enviar Figurinha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/message/react",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.messageId }}\",\n  \"text\": \"{{ $json.emoji }}\",\n  \"number\": \"{{ $json.number }}\"\n}",
        "options": {}
      },
      "id": "send-reaction",
      "name": "Reagir à Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Mensagem enviada com sucesso' } }}"
      },
      "id": "respond-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Organizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar Dados": {
      "main": [
        [
          {
            "node": "É Texto?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Imagem?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Documento?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Áudio?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Figurinha?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Reação?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Texto?": {
      "main": [
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Texto": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Imagem?": {
      "main": [
        [
          {
            "node": "Enviar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Imagem": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Documento?": {
      "main": [
        [
          {
            "node": "Enviar Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Documento": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Áudio?": {
      "main": [
        [
          {
            "node": "Enviar Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Áudio": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Figurinha?": {
      "main": [
        [
          {
            "node": "Enviar Figurinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Figurinha": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reação?": {
      "main": [
        [
          {
            "node": "Reagir à Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reagir à Mensagem": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-29T00:00:00.000Z",
  "versionId": "2"
}
