n8n-uazapi-workflow.json
{
  "name": "UAZapi - Envio Manual de Mensagens",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-manual-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "a253246d-00e9-4288-88ff-974fbe42aa50"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "text"
            }
          ]
        }
      },
      "id": "if-text",
      "name": "É Texto?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-text",
      "name": "Enviar Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "image"
            }
          ]
        }
      },
      "id": "if-image",
      "name": "É Imagem?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "url",
              "value": "={{ $json.mediaUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-image",
      "name": "Enviar Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "document"
            }
          ]
        }
      },
      "id": "if-document",
      "name": "É Documento?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/document",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "url",
              "value": "={{ $json.mediaUrl }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.filename || 'documento.pdf' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-document",
      "name": "Enviar Documento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "if-audio",
      "name": "É Áudio?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/audio",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "url",
              "value": "={{ $json.mediaUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-audio",
      "name": "Enviar Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "sticker"
            }
          ]
        }
      },
      "id": "if-sticker",
      "name": "É Figurinha?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 700]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/send/sticker",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "url",
              "value": "={{ $json.mediaUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-sticker",
      "name": "Enviar Figurinha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 600]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "reaction"
            }
          ]
        }
      },
      "id": "if-reaction",
      "name": "É Reação?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 800]
    },
    {
      "parameters": {
        "url": "={{ $json.url_instancia }}/message/react",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.messageId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.emoji }}"
            },
            {
              "name": "number",
              "value": "={{ $json.number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-reaction",
      "name": "Reagir à Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Mensagem enviada com sucesso' } }}"
      },
      "id": "respond-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "É Texto?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Imagem?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Documento?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Áudio?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Figurinha?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Reação?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Texto?": {
      "main": [
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Texto": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Imagem?": {
      "main": [
        [
          {
            "node": "Enviar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Imagem": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Documento?": {
      "main": [
        [
          {
            "node": "Enviar Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Documento": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Áudio?": {
      "main": [
        [
          {
            "node": "Enviar Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Áudio": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Figurinha?": {
      "main": [
        [
          {
            "node": "Enviar Figurinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Figurinha": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reação?": {
      "main": [
        [
          {
            "node": "Reagir à Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reagir à Mensagem": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-29T00:00:00.000Z",
  "versionId": "1"
}
